<div class="container">
  <h1>Pokédex Angular</h1>
 <!-- Componente para mostrar la lista de Pokémon -->
  <app-pokemon-list
    [pokemones]="pokemones"   
    (verDetalles)="verDetalles($event)"> <!-- Evento para ver detalles de un Pokémon -->
  </app-pokemon-list>

  <button class="boton" (click)="cargarPokemones()">Cargar más</button>
<!-- Componente para mostrar los detalles de un Pokémon -->
  <app-pokemon-detail
    *ngIf="pokemonSeleccionado"
    [pokemon]="pokemonSeleccionado"
    (cerrar)="cerrarDetalles()">
  </app-pokemon-detail>
 <!-- Componente spinner que muestra una carga en pantalla -->
  <app-spinner *ngIf="cargando"></app-spinner>

  <p *ngIf="error" class="error">{{ error }}</p>
</div>
